.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
}

.grid-item {
  background: #F7F7F7;
  padding: 1em;
  text-align: center;
}

.grid-item-2 {
  background: #F7F7F7;
  padding: 1em;
  text-align: center;
  grid-column: span 2;
}